/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

* {
    box-sizing: border-box;
}

body {
    background: rgb(50, 56, 61);
    font-family: helvetica, sans-serif;
}

.playerWrapper {
    width: 500px;
    height: 383px;
    background: rgb(103, 117, 125);
    margin: 100px auto;
    border: solid rgb(27, 30, 33) 1px;
    border-radius: 7px;
    overflow: hidden;

}

header {
    background-image: -webkit-linear-gradient(top, rgb(137, 149, 155), rgb(103, 117, 125));
    overflow: hidden;
}

button {
    border: none;
}

/* Styles for the playing now box */

.play {
    width: 310px;
    height: 50px;
    background-image: -webkit-linear-gradient(top, rgb(98, 109, 117), rgb(65, 77, 83));
    margin-top: 8px;
    margin-left: 8px;
    border: solid 1px rgb(47, 59, 64);
     -webkit-box-shadow: 0px 2px 2px #869198;
    border-radius: 5px; 
    display: inline-block;  
}

.play > div {
    display: inline-block;
}

.play p {
    margin: 0; 
}

.songName {
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
}

.album {
    font-size: 10px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    letter-spacing: .9px;
}

.logo {
    height: 48px;
    width: 46px;
    background: -webkit-linear-gradient(top, #535960, #21282B);
}

 .songInfo {
    vertical-align: top;
    padding: 12px 10px;
}

.coverPhoto {
    width: 32px;
    height: 32px;
    background: black;
    vertical-align: top;
    margin-top: 8px;
    border-radius: 4px;
}

/*Styles the trackControls */

.trackControls {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px; 
    padding-top: 10px;  
}

.trackControls .movement  {
    background: -webkit-linear-gradient(top, #E9E9E9, #B5B5B5);
    width: 23.2px;
    height: 23.2px;
    border-radius: 100%;
    border: 1px solid #676D73;
}

.trackControls i {
    font-size: 12px;
    position: relative;
}

.trackControls .back i {
    top: -2px;
    left: -2px;
}

.trackControls .next i {
    top: -2px;
}

.playButton i {
    font-size: 16px;
    position: relative;
    left: 2px;

}

.trackControls .playButton {
    background: -webkit-linear-gradient(top, #E9E9E9, #B5B5B5);
    width: 29px;
    height: 29px;
    border-radius: 100%;
    border: 1px solid #676D73;
}

.borderInset {
    display: inline-block;
    background: -webkit-linear-gradient(top, #5D6971, #818C94);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-top: 6px;
    padding: 4.7px 0 0 4.7px;
}

.borderInsetLarge {
    width: 40px;
    height: 40px;
    margin-top: 0;
    padding: 5.5px 0 0 5.5px;
}

/*Styles the playbackControls Panel */

.playbackControls {
    margin: 8px;
    margin-bottom: 0;
    border-top: 1px solid #454F55;
    -webkit-box-shadow: 0px 2px 2px #869198;
}





/*Styles the songList */

section {
    background: rgb(103, 117, 125);
}

.trackList {
    counter-reset: item;
    list-style-type: none;
    margin: 0;
    padding: 13px;
}

ol {
    padding: 0;
}

li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: #67747E;
    font-size: 12px;
    font-weight: 100;
}

.songList {
    margin: 37px 0 10px 10px;
    width: 479px;
    height: 269px;
    background: rgb(239, 239, 239);
    border: solid rgb(59, 59, 59) 1px;
    -webkit-box-shadow: 0px 2px 2px #869198;
    border-radius: 5px;
}

.songLine {
    border-bottom: 1px dotted #C7C7C7;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 0;
    line-height: 1.9;
}

.songLineLast {
    border-bottom: none;
}

.trackName {
    display: inline-block;
    width: 310px;
    color: #444E55;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .7px;
    margin-left: 14px;
}

.length {
    display: inline-block;
    width: 30px;
    color: #67747E;
    font-size: 12px;
    font-weight: 100;
}

.add {
    display: inline-block;
    width: 48px;
    height: 20px;
    border: 1px solid #AFAFAF;
    border-radius: 10px;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: middle;
}

.added {
    display: block;
    float: left;
    width: 25px;
    height: 19px;
    background: -webkit-linear-gradient(top, #FDFDFD, #D1D1D1);
    border-radius: 10px 0 0px 10px;
}

.addOption {
    display: block;
    float: left;
    width: 21px;
    height: 19px;
    background: -webkit-linear-gradient(top, #D7D7D7, #AFAFAF);
    border-left: 1px solid #AFAFAF;
    border-radius: 0 10px 10px 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
